<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add website address to web scraper database</title>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="background"></div>
<div class="foreground">
    <a href="/"><button type="button">Back to main page</button></a>
    <form action="#" th:action="@{/website/submit}" th:object="${website}" method="post">
        <input type="text" th:field="*{address}">
        <label>Website address</label>
        <button type="submit">Submit</button>
    </form>

</div>

</body>
</html>